<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <%- include('./includes/head', { siteTitle: themeConfig.siteName }) %>
</head>

<body>

    <div class="layout">

        <%- include('./includes/header') %>
        
        <%- include('./includes/menu') %>

        <%- include('./includes/banner') %>

        <%- include('./includes/content') %>

        <%- include('./includes/footer') %>
    </div>
</body>

</html>