<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <%- include('./includes/head', { siteTitle: `${tag.name} - ${themeConfig.siteName}` }) %>
</head>

<body>

    <div class="layout">

        <%- include('./includes/header') %>

        <%- include('./includes/menu') %>

        <%- include('./includes/navbar') %>

        <%- include('./includes/list') %>

        <%- include('./includes/footer') %>
    </div>
</body>

</html>